name: Docs

on:
  push:
    branches:
    - stable
  workflow_dispatch:

jobs:
  generate-docs:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4.2.2

    - name: Setup .NET
      uses: actions/setup-dotnet@v4.3.1
      with:
        cache: true
        dotnet-version: | 
          8.0.x
          9.0.x
          10.0.x

    - name: Setup DocFX
      uses: crazy-max/ghaction-chocolatey@v3.3.0
      with:
        args: install docfx

    - name: DocFX Build
      working-directory: docs
      run: docfx site\docfx.json
      continue-on-error: false

    - name: Publish
      if: github.event_name == 'push'
      uses: peaceiris/actions-gh-pages@v4.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/site/_site
        force_orphan: true